/* Selektoren */

:root {
    font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: beige;
    font-size: 20px;
}

/* Tag-Selektor (bspw. <ul ... */
ul {
    font-size: 1.2em;
    border: 5px solid blue;
}

/* ID-Selektor (bspw. <div id="description"... */
#description {
    color: #333;
}

h2 {
    font-family: "Bungee Spice";
    color: red;
}

/* Tag-Selektor - alle span's in h2's (children of h2 if span)  */
h2 span {
    color: green;
}

/* Class-Selektor (bspw. <p class="completed" ... */
.completed {
    text-decoration: line-through;
    border: 20px dotted black;
}

/* Tag with Class-Selektor - alle input's mit Klasse required */
input.required {
    border: 3px solid green;
}

/* Attribute-Selektor - alle inputs mit dem Wert text im Attribut type */
input[type="text"] {
    font-size: 48px;
    font-family: "Doto";
}

li.todo-item {
    width: 75vw;
    height: 5rem;
    background-color: #eee;
}

/* Pseudoklassen */
li:hover {
    background: #ccc;
    font-variant: small-caps;
    font-family: "Doto";
}

/* Double pseudo class */
li:hover button:first-child {
    font-weight: bold;
}

/* Default-Pseudoklassen überschreiben */
a:hover {
    text-decoration: overline;
    background-color: #eee;
}

a:visited {
    color: forestgreen;
}

p {
    line-height: 18px;
    font-size: 14px;
}

.image-example {
    width: 300px;
    height: auto;
    border: 2px solid #000;
}

.video-example {
    width: 500px;
}

#cat-video {
    border: 3px solid #ddd;
}
